*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
/* common*/
.font-whlie{
    color: #fff !important;
}
.row{   /* hàng*/
    margin-left: -8px;
    margin-right: -8px;
}
.col{   /*Cột*/
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-three{
    width: 33.333%;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
/* main */
#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav{
    display: inline-block;
}
#nav > li{
    display: inline-block;

}
#nav li{
    position: relative;
}
#nav li:hover .subnav {
    display: block;
}
.subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    box-shadow: 0 0 10px solid rgba(1, 247, 62, 0.993);
}
#nav > li{
    text-transform: uppercase;
}
#nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 14px;
}
#nav > li:hover > a{
    color: #000;
    background-color: #ccc;
    display: inline-block;
}
#nav .subnav li a{
    color: #000;
    text-transform: none;
    line-height: 38px;
    padding: 0 14px;
}
#nav .subnav li:hover a{
    color: tomato;
    background-color: #000;
    display: block;
}
.icon-so{
    font-size: 14px
}
.search-list{
    float: right;
    line-height: 46px;
}
.search-icon{
    color: #fff;
    padding: 0 22px;
}
.search-list:hover{
    background-color: rgb(224, 37, 4);
}
#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/ảnh/ảnh nền/chicago.jpg') top center/ cover no-repeat;
}
.slider-list{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    padding: 32px 16px;
}
.slider-heading{
    font-size: 25px;
    font-weight: 200;
    padding: 8px 0;
}
.slider-sub-heading{
    font-size: 15px;
    margin: 12px 0;
    text-shadow: 0 0 5px #000;
}
.about-list{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}
.about-heading{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin: 10px 0;
    font-weight: 300;
}
.about-sub-heading{
    text-align: center;
    opacity: 0.6;
    font-size: 15px;
    margin: 15px 0;
    font-style: italic;
}
.about-nd{
    font-size: 15px;
    text-align: justify;
    margin: 15px 0;
    line-height: 1.4;
}
.member-list{
    padding: 32px 0;
    overflow: hidden;
}
.member-item{
    text-align: center;
    margin-bottom: 16px;
}
.member-name{
    margin: 15px;
    font-size: 15px;
}
.member-img{
    width: 154px;
    border-radius: 10px;
}
.tour-list{
    background: #000;
}
.bangve{
    background: #fff;
}
.tour-list .bangve li{
    padding: 10px 16px;
    border-bottom: 1px solid #ccc;
}
.soldout{
    margin-left:16px;
    background: #f44336;
    color: #fff;
    padding: 3px 8px;
}
.ve-con{
    float: right;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    margin-right: 16px;
    padding: 2px 8px;
}
.places-list{
    background-color: #000;
    overflow: hidden;
    margin-top: 32px;
    margin-bottom: 48px;
}
.places-img{
    width: 100%;
    display: block;
}
.places-img:hover{
    opacity: 0.6;
}
.places-nd{
    background-color: #fff;
    padding: 16px;
}
.places-heading{
    font-size: 15px;
    margin-bottom: 15px;
}
.places-sub-heading{
    font-size: 15px;
    margin-bottom: 15px;
    opacity: 0.6;
}
.places-dg{
    font-size: 15px;
    margin-bottom: 15px;
}
.buytick{
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 8px 16px;
    display: inline-block;
}
.buytick:hover{
    color: #000;
    background-color: #ccc;
}
.contact-content{
    padding: 32px 0;
    overflow: hidden;
    line-height: 1.6;
}
.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
    line-height: 1.7;
}
.contact-form{
    font-size: 15px;
}
.contact-form .font-control{
    padding: 10px;
    border:1px solid #ccc;
    width: 100%;
    margin-top: 8px;
}
.contact-ndt,.contact-ndd{
    overflow: hidden;
}
.send{
    margin: 16px 0;
    float: right;
    background-color: #000;
    border: none;
    color: #fff;
    padding: 14px 16px;
}
.send:hover{
    color: #000;
    background-color: #ccc;
}
#footer{
    text-align: center;
    margin: 32px 0;
}
.icon-footer{
    font-size: 20px;
    opacity: 0.7;
}
.icon-footer i:hover[class*="ti-"]{
    opacity: 0.5;
}
.footer-nd{
    margin: 20px 0;
    opacity: 0.6;
    font-size: 17px;
}
.moblie-menu{
    display: none;
}